### Question 1 :

In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
  * 
  'hello'
  -87.8
  -
  /
  +
  6

#### Answer 1  :

In [23]:
*        Arithmatic Opertor
'hello'  String value
-87.8    Floating point value 
-        Arithmatic operator
/        Arithmatic operator
+        Arithmatic operator
6        integer value

SyntaxError: invalid syntax (385210201.py, line 1)

### Question 2 :
What is the difference between string and variable ?

#### Answer 2:

Variable  -   datascience  , 
String    -  'datascience'  ,
Strings always start and end with quotes ( single or double quotes ).
variable is a name which point to an object.



### Question 3  :
Describe three different data types.

#### Answer 3:

Integers , 
floating - point numbers,
strings.

### Question 4:

What is an expression made up of? What do all expressions do?

#### Answer 4:

Expression is a combination of values, variables, operators.There are three kinds of expressions : 
An arithmetic expression evaluates to a single arithmetic value. 
A character expression evaluates to a single value of type character. 
A logical or relational expression evaluates to a single logical value. 

All expressions evaluate to a single value.

### Question 5:

This assignment statements, like spam = 10. What is the difference between an expression and a statement

#### Answer 5:

An expression evaluates to a single value. A statement does not 
while , for , if , else , etc these are the statements .

### Question 6:

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

#### Answer6:

The bacon variable is set to 22 , The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1) ,
so, still bacon contains value 22.

### Question 7:

What should the following two expressions evaluate to ?  'spam'  + 'spamspam' and 'spam' * 3

#### Answer 7:

Both expressions evaluate to the string 'spamspamspam'

### Question 8:

Why is it that eggs is a true variable name but 100 is not?

#### Answer 8:

Variable names cannot begin with a number , either it should be character or underscore .

### Question 9:

What three functions can be used to get the integer, floating-point number, or string version of a value?

#### Answer 9:

int(), float(), str()  these functions respectively can be used to convert a value to an integer, a floating-point number, or a string.

### Question 10:

Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

#### Answer 10:

reason of error  : string + integer + string 

The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. 

The correct way is I have eaten ' + str(99) + ' burritos.'.